{% extends 'base.html'%}

{%block title%}{{product.name}}{% endblock title%}

{%block body%}
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Vat</th>
          <th scope="col">Stock</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.vat}}</td>
          <td>{{product.stock}}</td>
          {%for category in product.categories.all %}
            <td>{{category.category_name}}</td>
          {%endfor%}
        </tr>
      </tbody>
</table>
{%endblock body%}